{% load filters %}

<!doctype html>
<html>
<head>
	<title> /{{board_abbr}}/ - {{board_name}} - 326chan </title>
	<meta name="description" content="anonymous imageboard">
	<meta name="keywords" content="imageboard, 4chan, 8chan, anonymous">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='/media/css/style.css'>
	<script src='/media/js/jquery.js'></script>
	<script src='/media/js/base.js'></script>
	<script>
		$(function()
		{
			csrf_token = '{{csrf_token}}';
			{% if user.is_authenticated %}
				loggedin = 'yes'
			{% else %}
				loggedin = 'no'
			{% endif %}
			init();
		})
	</script>
</head>
<body>

	<div id='header'>
		<a class='header_text' href='/'> 326chan </a>  &nbsp;&nbsp; <a class='board_name_link' href='/{{ board_abbr }}/'>{{ board_name }}</a>
		{% if user.is_authenticated %}
			<span id='notif'> <a id='notifs_link' href='/notifications' class='notifs'>{{notifs}}</a> &nbsp;&nbsp;&nbsp; <a href='/logout' class='login'>logout</a> </span>
		{% else %}
			<span id='notif'> <a href='/login' class='login'>login</a> &nbsp; to receive notifications </span>
		{% endif %}
		<div class='clear'></div>
	</div>

	{{ boards_html | safe }}


	{% if board_abbr != 'all' %}
		
		<div class='v1'></div>

		<div id='new_board_form'>
			<form enctype="multipart/form-data" action='' method='post' name='form'> {% csrf_token %}
				<textarea name='text' cols=40 rows=4 placeholder='text'></textarea>

				<div class='v05'></div>

				<input name='file' type='file'>

				<input onclick='this.disabled=true;this.form.submit()' class='form_submit' type='submit' value='create thread'>
			</form>
		</div>
		
		<div class='v3'></div>

	{% else %}

		<div class='v2'></div>

	{% endif %}


	<div id='posts'>

		{% for f in fobs %}
			{% if board_abbr == 'all' %}
				<div class='posted_on'> posted on &nbsp; <a class='board_link' href='/{{f.thread.board.abbr}}/'> /{{f.thread.board.abbr}}/ </a> </div>
			{% endif %}
			<a target=_blank href='/media/files/{{f.thread.id}}.{{f.thread.extension}}'>
				{% if f.thread.extension != 'webm' and f.thread.extension != 'mp4' %}
					<img class='post_file' src='/media/files/{{f.thread.id}}_thumb.{{f.thread.extension}}'>
				{% else %}
					<video class='post_file' src='/media/files/{{f.thread.id}}.{{f.thread.extension}}' controls='controls' preload='metadata'>
				{% endif %}
			</a>
			<div class='post_details'> 
				<div class='thread_date' title='{{f.thread.date | date:"n/j/y P"}}'> {{f.thread.date | radtime}} </div> 
				<div class='reply_count'> {{f.thread.reply_count | replies}} </div>
				<a class='respond' href='/{{ f.thread.board.abbr }}/{{ f.thread.id }}'> open </a>
				{% if user.username == 'madprops' %}
					<a href='/delete_thread/{{f.thread.id}}' class='admin_menu delete_btn'> delete </a>
					<a href='/raise_thread/{{f.thread.id}}' class='admin_menu'> bump </a>
					<div onclick='ban({{p.post.id}});' class='admin_menu ban_btn'> ban </div>
				{% endif %}
			</div>
			<br>
			<span class='post_text'> {{f.thread.text|linebreaks|arrows}} </span>
			<div class='clear'></div>
			<div class='v2'></div>
		{% endfor %}

	</div>

	<img id='image_hover'>

	<div class='clear v2'></div>

</body>
</html>
